/* <Google Font Family>
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Yantramanav', sans-serif;
background-color: #efeeed;
*/


body {
    font-family: 'Yantramanav', sans-serif;
}

main {
    /*background: #efeeed;*/
    padding-top: 10px;
}

h1 {
    font-size: 10vw;
    text-align: center;
}

h2 {
    font-size: 1.25vw;
    text-align: center;
}

h3 {
    font-size: 2.5vw;
    text-align: center;
}


h4 {
    font-size: 2.5vw;
    padding: 50px;
    text-align: center;
}

/*p {
    font-size: 1vw;
    height: 150px;
    width: 600px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}*/

.coverpage {
    width: 100%; 
    height: 940px; 
    object-fit: cover;
}

.gfg {
    position: relative;
}

.absolute-title {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.box {
    background: #E75152;
    opacity: 0.75;
    padding: 10px;
    margin: 4px;
    width: 23vw;
    text-align: center;
}

.absolute-h {
    position: absolute;
    transform: translate(40%, 40%);
}

.center-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
}

.introduction {
    padding: 2vh;
    border-radius: 1.5vw;
    /*background-color: #efeeed;*/
    display: flex;
    align-items: center;
    font-size: 0.85vw;
    width: 45%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgb(82, 82, 82);
}

.half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}

.introductionpage {
    width: 49%;
    object-fit: cover;
}

.elevation-container {
    background: #efeeed;
    width: 75%;
    border-radius: 1.5vw;
    margin: 30px;
    box-shadow: black 0px 22px 70px 4px;
    display: flex;
    gap: 2vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-left: 12.5vw;
    margin-bottom: 150px;
}

.elevation-container img {
    scroll-snap-align: start;
    height: 350px;
}

.fragment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left {
    background: #efeeed;
    width: 30vw;
}

.right {
    background: white;
    width: 30vw;
}




  @media (max-width: 960px) {
    .coverpage {
        width: 100%; 
        height: 450px; 
        object-fit: cover;
    }
  }

  @media (max-width: 450px) {
    .coverpage {
        width: 100%; 
        height: 200px; 
        object-fit: cover;
    }
  }