* {
    margin: 0;
}

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    padding-left: 5%;
    font-size: 3em;
    color: white;
    font-weight: 700;
}

h3 {
    font-size: 1.5 em;
    padding-left: 100px;
    color: white;
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding-right: 5%;
}

.colorblue1 {
    background-color: #3a5caa;
    Height: 12%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

}

.colorblue2 {
    margin-top: 0.15%;
    background-color: #1f4396;
    height: 88%;
}

.content {
    display: flex;
    justify-content: center;
    height: 55%;
}