* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-size: 14px;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    text-align: center;
}

@keyframes changeColor{
    0% {
        background-color:#ffe4a1;
    }
    60% {
        background-color: #d6ac52;
    }
    80% {
        background-color:#dc9e21;
    }
    100% {
        background-color: #e6911a;
    }
}

.title {
    padding-top: 0.7%;
    width: 25%;
    font-size: 2vh;
    color: white;
    background-color: rgb(254, 120, 120);
    
}
.title:hover {
    animation: changeColor 3s;
}